<% provide(:title, "Change Password") %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Change Password</h2>
    <%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>

      <%= render "shared/error_messages" %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>

      <%= f.submit "Update Password", :class => "btn btn-primary" %>
      <%= link_to "Back to Profile", current_user, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
